.container {
  display: flex;
  flex-direction: column;
}

.game-modes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.mode {
  min-height: 200px;
  height: auto;
  width: auto;
  background: #323236;
  border-radius: 5px;
  margin: 10px;
  text-align: start;
  padding: 25px;
  display: flex;
  flex-direction: column;
  
  > h1 {
    margin: 0;
  }
  
  > h3 {
    margin: 0;
  }

  > button {
    width: fit-content;
    padding: 1.25rem 2.5rem;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin-top: auto;
    font-weight: 500;
    cursor: pointer;

    &.multiplayer-btn {
      background: #3d8b40;
    }

    &.typing-test-btn {
      background: #003a61;
    }

    &.race-your-friends-btn {
      background: #e86200;
    }
  }
}

.information-panel {
  display: flex;
  height: 500px;
  flex-direction: row;

  .profile-panel {
    text-align: start;
    background: #323236;
    margin: 10px;
    width: 70%;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: row;

    .user, .friends {
      display: flex;
      flex-direction: column;
      width: 50%;

      > h1 {
        margin: 0;
        margin-bottom: 10px;
      }
      
      > h4 {
        margin: 0;
      }
    }

    .user {

      .create-account-btn {
        width: fit-content;
        padding: 1.25rem 2.5rem;
        font-size: 20px;
        border-radius: 5px;
        border: none;
        margin-top: auto;
        font-weight: 500;
        cursor: pointer;
        background: #fb9c4a;
        color: #202020;
      }
    }

    .divider {
      height: 90%;
      width: 5px;
      border-radius: 5px;
      background: #222223;
      align-self: center;
      margin: 0 25px;
    }
  }

  .competitions-panel {
    background: #323236;
    margin: 10px;
    width: 30%;
    border-radius: 5px;
    text-align: start;
    padding: 25px;

    > h1 {
      margin: 0;
      margin-bottom: 10px;
    }
    
    > h4 {
      margin: 0;
    }
  }
}

.leaderboard-panel {
  height: 500px;
  background: #323236;
  border-radius: 5px;
  margin: 10px;
}
